<!-- component -->
<style>
    .login_img_section {
    background: linear-gradient(rgba(2,2,2,.7),rgba(0,0,0,.7)),url(https://images.unsplash.com/photo-1650825556125-060e52d40bd0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80) center center;
  }
  </style>
  <div class="h-screen flex">
            <div class="hidden lg:flex w-full lg:w-1/2 login_img_section justify-around items-center">
              <div class="bg-black opacity-20 inset-0 z-0"></div>
              <div class="w-full mx-auto px-20 flex-col items-center space-y-6">
                <h1 class="text-white font-bold text-4xl font-sans">Parking Ticket System</h1>
                <p class="text-white mt-1">Get rid of complex parking booking system</p>
              </div>
            </div>
            <div class="flex w-full lg:w-1/2 justify-center items-center bg-white space-y-8">
              <div class="w-full px-8 md:px-32 lg:px-24">
                <form class="bg-white p-10 rounded-lg shadow-lg min-w-full">
                    <h1 class="text-center text-2xl mb-6 text-gray-600 font-bold font-sans">Forgot Password? Don't worry we are here.</h1>
                    <div *ngIf="!isOtpSent">
                        <div>
                            <label class="text-gray-800 font-semibold block my-3 text-md" for="email">Email</label>
                            <input class="w-full bg-gray-100 px-4 py-2 rounded-lg focus:outline-none" type="text" name="email" id="email" placeholder="@email" />
                        </div>     
                        <button (click)="sendOtp()" class="w-full mt-6 bg-indigo-600 rounded-lg px-4 py-2 text-lg text-white tracking-wide font-semibold font-sans">Send OTP</button>
                    </div>
                    <div *ngIf="isOtpSent">
                        <div>
                            <label class="text-gray-800 font-semibold block my-3 text-md" for="email">Enter Your OTP here</label>
                            <input class="w-full bg-gray-100 px-4 py-2 rounded-lg focus:outline-none" type="number" name="otp" placeholder="otp please" />
                        </div>     
                        <button class="w-full mt-6 bg-indigo-600 rounded-lg px-4 py-2 text-lg text-white tracking-wide font-semibold font-sans">Reset Password</button>
                    </div>
                </form>
              </div>
              
            </div>
        </div>
