<!-- component -->
<link rel="stylesheet" href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css" />

<div class="min-h-screen flex flex-row bg-gray-100">
  <div class="flex flex-col w-56 bg-white rounded-r-3xl overflow-hidden">
    <div class="flex items-center justify-center h-20 shadow-md">
      <h1 class="text-3xl uppercase text-indigo-500">Logo</h1>
    </div>
    <ul class="flex flex-col py-4">
      <li>
        <a href="#" class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-500 hover:text-gray-800">
          <span class="inline-flex items-center justify-center h-12 w-12 text-lg text-gray-400"><i class="bx bx-home"></i></span>
          <span class="text-sm font-medium">Dashboard</span>
        </a>
      </li>
      <li>
        <a href="#" class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-500 hover:text-gray-800">
          <span class="inline-flex items-center justify-center h-12 w-12 text-lg text-gray-400"><i class="bx bx-music"></i></span>
          <span class="text-sm font-medium">Music</span>
        </a>
      </li>
      <li>
        <a href="#" class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-500 hover:text-gray-800">
          <span class="inline-flex items-center justify-center h-12 w-12 text-lg text-gray-400"><i class="bx bx-drink"></i></span>
          <span class="text-sm font-medium">Drink</span>
        </a>
      </li>
      <li>
        <a href="#" class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-500 hover:text-gray-800">
          <span class="inline-flex items-center justify-center h-12 w-12 text-lg text-gray-400"><i class="bx bx-shopping-bag"></i></span>
          <span class="text-sm font-medium">Shopping</span>
        </a>
      </li>
      <li>
        <a href="#" class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-500 hover:text-gray-800">
          <span class="inline-flex items-center justify-center h-12 w-12 text-lg text-gray-400"><i class="bx bx-chat"></i></span>
          <span class="text-sm font-medium">Chat</span>
        </a>
      </li>
      <li>
        <a href="#" class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-500 hover:text-gray-800">
          <span class="inline-flex items-center justify-center h-12 w-12 text-lg text-gray-400"><i class="bx bx-user"></i></span>
          <span class="text-sm font-medium">Profile</span>
        </a>
      </li>
      <li>
        <a href="#" class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-500 hover:text-gray-800">
          <span class="inline-flex items-center justify-center h-12 w-12 text-lg text-gray-400"><i class="bx bx-bell"></i></span>
          <span class="text-sm font-medium">Notifications</span>
          <span class="ml-auto mr-6 text-sm bg-red-100 rounded-full px-3 py-px text-red-500">5</span>
        </a>
      </li>
      <li>
        <a href="#" class="flex flex-row items-center h-12 transform hover:translate-x-2 transition-transform ease-in duration-200 text-gray-500 hover:text-gray-800">
          <span class="inline-flex items-center justify-center h-12 w-12 text-lg text-gray-400"><i class="bx bx-log-out"></i></span>
          <span class="text-sm font-medium">Logout</span>
        </a>
      </li>
    </ul>
  </div>
  <div style="width: 80%;" class="mt-5">
   <div class="mt-5 container">
    <div class="row">
        <div class="col-md-9" style="border-top: 1px solid">
            <div style="padding-right: 20px;padding-left: 20px;padding-top: 20px;">
                <div class="d-flex justify-content-center">
                    <span style="font-size:20px; font-weight: bold;">Your Parking Spaces</span>
                </div>
                <div class="card mt-5" style="width: 50%;padding: 20px;" *ngFor="let parking of parkingSpacesList;let i = index">
                    <div class="card-body">
                      <div class="d-flex justify-content-center">
                        <h5 class="card-title">{{parking.name}}</h5>
                      </div>
                     <div>
                        <div>
                            <span> Price: {{parking.price}} INR</span>
                        </div>
                        <div>
                            <span> Location: {{parking.address}} INR</span>
                        </div>
                     </div>
                      <div class="d-flex justify-content-end">
                        <button class="btn btn-primary" (click)="openParkingSpace(parking.id)">Checkout</button>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
        <div class="col-md-3" style="border: 1px solid black;">
            <div style="padding-right: 20px;padding-left: 20px;padding-top: 20px;">
                <div class="d-flex justify-content-center">
                    <span style="font-size:20px; font-weight: bold;">Create Parking Space</span>
                </div>
                <form>
                    <div class="form-group mt-3">
                      <label>Parking Name</label>
                      <input type="text" class="form-control"  placeholder="Parking Name" [(ngModel)]="name" name="name">
                    </div>
                    <div class="form-group mt-3">
                      <label>Address</label>
                      <input type="text" class="form-control"  placeholder="Address" [(ngModel)]="address" name="address">
                    </div>
                    <div class="form-group mt-3">
                      <label>Price</label>
                      <input type="number" class="form-control"  placeholder="price" [(ngModel)]="price" name="price">
                    </div>
                    <div class="form-group mt-3">
                      <label>Status</label>
                      <div>
                        <select [(ngModel)]="status" name="status">
                            <option value="ACTIVE">Active</option>
                            <option value="ABANDONED">Abandoned</option>
                            <option value="INACTIVE">In Active</option>
                          </select>
                      </div>
                    </div>
                    <button type="submit" (click)="createParkingSpace()" class="btn btn-primary mt-4 mb-4">Add</button>
                  </form>
            </div>
        </div>
    </div>
   </div>
  </div>
</div>